<ion-header>
    <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Customize</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <h5 ion-text color="dark" > Your Selection {{ lblSelection }} </h5>
  <ion-item>
    <ion-label>Reminder</ion-label>
    <ion-toggle checked="false" color="dark" [(ngModel)]="isReminder"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label color="dark">Reminder Date</ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY HH:mm" placeholder="Tap Here" [(disabled)]="!isReminder" [(ngModel)]="reminderDate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label color="dark">Notification Type</ion-label>
    <ion-select [(ngModel)]="notificationType" [(disabled)]="!isReminder">
      <ion-option value="Pop-up" *ngIf="items.length == 1">Pop-up</ion-option>
      <ion-option value="Sound" *ngIf="items.length == 1">Pop-up + Sound</ion-option>
      <ion-option value="Summary" *ngIf="items.length > 1">Summary</ion-option>
    </ion-select>
  </ion-item>
  <ion-grid>
    <ion-row stacked>
          <button ion-button color="dark" outline col-5 offset-1 (click)="btnSave()">Save</button>
          <button ion-button color="dark" outline col-5 offset-0 (click)="btnCancel()">Back</button>
    </ion-row>
  </ion-grid>
</ion-content>
